body {
    background-image: url(body.gif);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    /* background: #bd2121 ; */

}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.containerW {
    width: 80%;
    border: 1px solid black;
    margin: auto;
    min-height: 650px;
    background-color: white;

}

footer {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.Cend {
    justify-content: end;
}

h1, h2, footer > div > a {
    color: #00254d !important;
    text-decoration: none;
}

footer > div > a:hover {
    color: silver !important;
}

/*------------ strona sklepu ----------------*/
.containerWrap {
    padding: 20px 10% 10px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapW {
    width: 200px;
    border: 1px solid rgb(222, 222, 222);
    /* margin-bottom: 10px; */
    margin: 10px;
}

.wrapW.articleDetails:hover {
    cursor: pointer;
    border: 1px solid rgb(0, 37, 77);
}

.wrapFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.btnAddCart, .btnContact {
    border: 1px;
    width: 100%;
    /* margin: auto; */
    /* margin-bottom: 5px; */
    color: white;
    font-size: 0.8em;
    background-color: #00254d;
    height: 30px;
}

.btnAddCart:hover, .btnContact:hover {
    /* color: silver; */
    background: #0056b3;
    cursor: pointer;
    /* height: 40px; */
}

.foto, .nazwaTowaru, .dodaj {
    text-align: center;
}

.opisTowaru {
    text-align: justify;
}

.nazwaTowaru, .opisTowaru, .dodaj, .cena {
    padding: 5px 15px 5px 15px;
}

.nazwaTowaru {
    height: 55px;
}

.cena {
    text-align: right;
    font-weight: bold;
    color: darkred;
}

.dodaj {
    background: #00458e; /* Old browsers */
    background: -moz-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00458e), color-stop(8%, #0056b3), color-stop(100%, #00254d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00458e 0%, #0056b3 8%, #00254d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0); /* IE6-9 */
    /* border-radius: 4px; */
    border: 1px;
    /* width: 70%; */
    /* margin: auto; */
    /* margin-bottom: 5px; */
    color: white;
    font-size: 0.8em;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 284px;
}

.content .upper {
    justify-content: normal;
}

.cReklam {
    height: 312px;
}



/*-------- button dodania artykułu ---------*/
.addArticle {
    display: flex;
    justify-content: flex-end;
}

.addArticle > .dodaj {
    width: 130px;
}

/*---------- strona z artykułami ------------*/
.containerButton {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.buttonA {
    width: 80px;
    margin: 0 5px 0 5px;
}

/*-------- formularz dodania artykułu ---------*/
.article {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.articleFormLabel {
    margin-top: 10px;
}

.btnAddArticle {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.btnDodaj {
    border: 1px;
    /* width: 70%; */
    /* margin: auto; */
    /* margin-bottom: 5px; */
    color: white;
    font-size: 0.8em;
    background-color: #00254d;
    height: 30px;
}

.btnDodaj:hover {
    /* color: silver; */
    background: #0056b3;
    /* height: 40px; */
}

.btnDelete, .btnDeleteCart {
    border: 1px;
    color: white;
    font-size: 0.8em;
    background-color: #be0024;
    height: 30px;
}

.btnDelete:hover, .btnDeleteCart:hover {
    background: #fc0028;
    cursor: pointer;
}

.articleContent {
    /* margin-top: 20px; */
    width: 100%;

}

::file-selector-button {
    background: #00254d;
    color: white;
    /* border: 1px solid orangered; */
    /* border-radius: 1px; */
    border: none;
    padding: 0 10px;
    height: 100%;
}

::file-selector-button:hover {
    cursor: pointer;
    background: #0056b3;

}

input[type=file] {
    /* border: 1px solid orangered; */
    color: rgb(124, 115, 111);
    border-radius: 5px;
    height: 36px;
    /* font-size: 120%; */
    text-transform: lowercase;
    padding: 0;
}

input[type=file]:hover {
    cursor: pointer;
}

.activeArticle {
    text-align: right;
    padding: 0 15px 5px 15px
}

/*------- komunikat -----------------*/
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.message {
    width: 700px;
    max-width: 100%;
    padding: 20px 30px;
    background-color: #9ff29f;
    position: fixed;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    transition: all 0.2s;
    -webkit-animation: fadeOut 0.5s forwards;
    animation: fadeOut 0.5s forwards;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #14af13;
}

.messageError {
    background-color: rgba(252, 0, 0, 0.93);
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    color: #ffffff;
}

.message.is-error {
    background-color: #ff8799;
    color: #bf213c;
}

.alert {
    width: 700px;
    max-width: 100%;
    padding: 20px 30px;
    position: fixed !important;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: auto;
    z-index: 10 !important;
}

/*------------------------------------------*/


.shadow {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.shadow:before, .shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

/* --------------------- nawigacja ------------------------------- */


.navbarW {
    background: #00458e; /* Old browsers */
    background: -moz-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00458e), color-stop(8%, #0056b3), color-stop(100%, #00254d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00458e 0%, #0056b3 8%, #00254d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0); /* IE6-9 */
    border-radius: 0px;
    border: 0px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -4px;
    position: -webkit-sticky;
    position: sticky;
}

.main-menu {
    height: 40px;
}

.main-menu > ul {
    list-style-type: none;
    display: flex;
    justify-content: start;
    padding: 0px;
    margin: 0px;
    height: 40px !important;
}

.main-menu > ul > li {
    border-right:1px solid #bbb;
}

.main-menu > ul > li:last-child {
    border-right: none;
}

.main-menu > ul > li > a {
    color: white !important;
    text-decoration: none !important;
    padding: 5px 15px;
    display: inline-block;
    height: 40px;
}

.main-menu > ul > li > a:hover {
    background: #0056b3;
    height: 40px;
}

.navbarShop {
    background: #00458e; /* Old browsers */
    background: -moz-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00458e), color-stop(8%, #0056b3), color-stop(100%, #00254d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00458e 0%, #0056b3 8%, #00254d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00458e 0%, #0056b3 8%, #00254d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0); /* IE6-9 */
    border-radius: 0px;
    border: 0px;
    height: 30px;
    margin-top: -4px;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}

.nav-shop > ul {
    list-style-type: none;
    height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-shop > ul > li {
    float: left;
    border-right:1px solid #bbb;
    height: 30px;
}

.nav-shop > ul > li:last-child {
    border-right: none;
    float: right;
    text-align: center;
 }

.nav-shop > ul > li > a {
    color: white !important;
    text-decoration: none !important;
    padding: 5px 15px;
    display: inline-block;
}

.nav-shop > ul > li > a:hover, .koszyk1:hover {
    background: #0056b3;
}

.koszyk {
    padding-right: 5%;
    width: 160px;
}

.basketItemCount {
    margin-left: 5px;
    color: white;
}

.koszyk > a, .dodaj > a, .addArticle > a {
    color: white !important;
    text-decoration: none !important;
}

.dodaj > a:hover {
    color: silver !important;
}

.opis {
    text-align: justify;
    padding: 20px 10% 10px 10%;
}

/* ----------- end nawigacja ------------------- */

/*------------ regulamin ----------------------- */
#showStatute {
    width: 80%;
    margin: auto;
}

/* ------------- formularz logowania -----------*/
input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(20, 0, 153, 0.637);
    border-radius: 0.25rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    padding: 5px 10px;
    margin: 1px 0 8px;
}

input:focus, textarea:focus {
    box-shadow: 0 0 3px rgba(20, 0, 153, 0.5);
}

.error {
    border-color: red !important;
}


/*---------------------------------------*/

/*-------------- modal ------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modalBody {
    padding: 0% 10% 0% 10%;
    text-align: justify;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalPhoto {
    margin-top: -40px;
    margin-left: -40px;
}

.modalImg {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
}

.modalFooter {
    width: 50%;
    margin: auto;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

#myModal, #confirmModal {
    animation: appear 200ms ease-in 1;

}

#confirmModal .modalBody {
    padding: 10% 10% 5% 10%;
    text-align: center;
}

#confirmModal .modalFooter {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

#confirmModal .modalContent {
    padding: unset;
    width: 300px;
}

#confirmModal .modalHeader {
    padding: 5px 20px 5px 20px;
    background-color: rgba(252, 0, 0, 0.93);
    font-size: 1.3em;
    color: white;
    border-bottom: 2px solid black;
}

#confirmModal .close {
    color: white;
}

#confirmModal button {
    width: 60px;
    margin: 10px;
}

/*-----------------------------------*/

/*-------- cart ---------------------*/
.shoppingCart {
    width: 100%;
}

.cartTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    /*border: 1px solid #ddd;*/
}

.cartTable > th, td {
    text-align: center;
    /*padding: 8px;*/

}

.tableHead, .tableRow {
    border-bottom: 1px solid #ddd;
}

.articleQuantity::-webkit-outer-spin-button, .articleQuantity::-webkit-inner-spin-button {
    opacity: 1;
}

.articleQuantity {
    width: 70px;
}

.clearCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2em;
}

.order {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.subtotal {
    width: 5em;
}

.btnContinueShopping {
    border: 1px;
    color: white;
    font-size: 0.8em;
    background-color: #00254d;
    height: 30px;
}

.btnContinueShopping:hover {
    background: #0056b3;
    cursor: pointer;
}

/*-----------------------------------*/

/*---- order ------------------------*/
.containerOrder {
    padding: 20px 20% 10px 20%;
    justify-content: center;
}

.orderTable, .shippingPrice {
    border-collapse: collapse;
    border-spacing: 0;
    width: 500px;
    margin: auto;
}

.offset {
    width: 100px;
}

.tdShipping {

    text-align: end !important;
}

#toPay {
    width: 85px;
}

input[type=radio] {
    width: 15px;
    margin: unset;
}

input[type=radio]:hover {
    cursor: pointer;
}

.orderForm {
    display: flex;
    margin-top: 25px;
}

.adressForm, .vatForm {
    width: 50%;
    padding-right: 20px;
}

.checkVat {
    display: flex;
    margin-top: -7px;
    margin-bottom: 6px;
    flex-wrap: wrap;
    align-items: center;
}

#check, #checkReg {
    margin: unset;
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#check:hover, #checkReg:hover {
    cursor: pointer;
}

.displayVat {
    display: none;
}

.dissabled {
    color: #8d8d8d;
}

.enabled {
    color: #fc0028;
}

.confirmReg {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}


/*-----------------------------------*/

/*------- administracja ------------*/

#shippingTable {
    width: 100%;
}

#shippingTable > thead > tr:nth-of-type(1) {
    border-bottom: 1px solid;
    font-weight: bold;
}

#shippingTable > tbody > tr {
    border-bottom: 1px solid #cecece;
}

#shippingName {
    width: 40%;
}

#addShipping {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/*------------------------------------*/

/*--------- shipping form ------------*/
#typeSelect {
    margin-top: 10px;
}

.checkActive {
    display: flex;
    margin-top: 10px;
    margin-bottom: 6px;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid rgba(20, 0, 153, 0.637);
    border-radius: 0.25rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}

/*padding: 5px 10px;*/
/*margin: 1px 0 8px;*/

#checkActive {
    margin: unset;
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#checkActive:hover {
    cursor: pointer;
}

/*------------------------------------*/

/*------ order list ------------------*/
#orderList > thead > tr:nth-of-type(1) {
    border-bottom: 1px solid;
    font-weight: bold;
}

#orderList > tbody > tr {
    border-bottom: 1px solid #cecece;
}

#orderList td {
    padding: 0 5px 0 5px;
}

.orderListId {
    width: 80px;
    text-align: center;
}

.orderListName {
    width: 200px;
    text-align: left;
}

.orderListAdress {
    width: 350px;
    text-align: left;
}

.orderListPhone {
    width: 80px;
    text-align: center;
}

.orderListStatus {
    width: 100px;
    text-align: center;
}

.orderListAction > a {
    text-decoration: none;
}

/*--------- order edit admin ---------*/
.orderDelete {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/*------------------------------------*/
/*--------- sadmin -------------------*/


#tUser {
    width: 100%;
}

#tUser > thead > tr:nth-of-type(1) {
    border-bottom: 1px solid;
    font-weight: bold;
}

#tUser > tbody > tr {
    border-bottom: 1px solid #cecece;
}


.btnUser {
    border: none;
    background-color: inherit;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.info {
    color: dodgerblue;
}

.info:hover {
    background: #2196F3;
    color: white;
}

.danger {
    color: red;
}

.danger:hover {
    background: #f44336;
    color: white;
}

.btnAddUser {
    margin-top: 22px;
}

/*------------------------------------*/

.p20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        width: 90%;
    }

    footer {
        display: block;
    }

    .modalContent {
        width: 80%;
    }
}
